ES/labs/lab_1/animals.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="animals">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="animal" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="skin" type="xs:string"/>
							<xs:element name="noise" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="eyes" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="name" use="required" type="xs:string"></xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>